<gwbw-measure-interval></gwbw-measure-interval>
<script defer src="built/components/measure-interval/measure-interval.js" type="module"></script>
<script defer src="built/components/positions-detail/positions-detail.js" type="module"></script>
<script defer src="built/components/positions-graph/positions-graph.js" type="module"></script>
<script defer src="built/components/session-total/session-total.js" type="module"></script>
<!-- <script defer src="built/components/positions-distribution-graph/positions-distribution-graph.js" type="module"></script> -->
