a:focus,
button:focus,
.button:focus {
	transform: perspective(500px) translateZ(30px);
	box-shadow: 0 0 0 3px #fff, 0 0 1px 4px var(--dark-blue), 0 1rem 3rem 0 rgba(30, 55, 96, 0.7) !important;
	border: none !important;
	outline: none !important;
}
