form {
	position: relative;
	max-width: 400px;
	opacity: 1;
	transition: opacity 1s ease 1s;
}

form.working {
	opacity: 0.5;
	pointer-events: none;
}

form:before {
	content: "";
	position: absolute;
	top: -1em; right: -1em; bottom: -1em; left: -1em;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s ease 1s;
}

form.working:before {
	opacity: 1;
	animation: working 2s ease infinite;
}

form label:not(.check) {
	display: block;
	margin-bottom: 5px;
	font-size: 1.2em;
}

form label:not(.check):after {
	content: ":";
}

label.check {
	width: 1px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

label.check [type=checkbox],
label.check [type=radio] {
	margin-right: 0.5em;
}

.form-input {
	margin-bottom: 20px;
}

.form-controls {
	margin: 30px 0;
}


.form-controls > .button + .button {
	margin-left: 0.35em;
}

input, textarea {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0.75em 0.5em;
	color: var(--blue);
	font-size: 1em;
	font-family: var(--sans-font);
	border: none;
	border-radius: 2px;
	outline: none;
	background-color: var(--almost-white);
	box-shadow: 0 0 0 1px var(--silver);
}

input:not([type=radio]):not([type=checkbox]) {
	-webkit-appearance: none;
}

input:focus {
	box-shadow: 0 0 0 1px var(--blue);
}

input[type=checkbox], input[type=radio] {
	display: inline-block;
	width: auto;
	background-color: transparent;
	box-shadow: none;
}

textarea {
	height: 8em;
	resize: vertical;
}

@keyframes working {
	50% {
		background-color: rgba(0, 0, 0, 0.15);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
