@import "buttons.css";
@import "forms.css";
@import "lists.css";
@import "material-icons.css";

*, *:before, *:after { box-sizing: border-box; }

*, *:before, *:after {
	box-sizing: border-box;
}

* {
	--serif-font: 'Merriweather';
	--sans-font: 'Montserrat';
}

* {
	--light-blue: #B2BDCF;
	--blue: #396B97;
	--dark-blue: #1E3760;
	--bright-blue: #86D9ED;
	--green: #44A748;
	--red: #DA3848;
	--almost-white: #F5F5F5;
	--silver: #F0F0F0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	font-family: var(--sans-font), sans-serif;
	font-weight: normal;
	color: var(--dark-blue);
}

img {
	display: block;
	width: 100%;
}

a, a:visited {
	color: var(--blue);
	text-decoration: underline;
}

a:hover {
	color: var(--light-blue);
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	margin: 0 0 20px 0;
	font-family: var(--serif-font), serif;
	font-weight: bold;
	letter-spacing: 0.5px;
}

p {
	margin: 0 0 20px 0;
}

em {
	font-family: var(--serif-font);
	font-weight: 800;
	font-style: normal;
}

hr {
	display: block;
	height: 2px;
	margin: 20px 0;
	background-color: var(--light-blue);
	border: none;
}

.block {
	display: block;
}

.nowrap {
	white-space: nowrap;
}

.invisible {
	visibility: hidden;
	pointer-events: none;
}

.content-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 2em;
}

