@import "buttons.css";
@import "forms.css";
@import "lists.css";
@import "material-icons.css";

*, *:before, *:after { box-sizing: border-box; }

*, *:before, *:after {
	box-sizing: border-box;
}

* {
	--serif-font: 'Merriweather';
	--sans-font: 'Montserrat';
}

* {
	--light-blue: #B2BDCF;
	--blue: #396B97;
	--dark-blue: #1E3760;
	--bright-blue: #86D9ED;
	--green: #44A748;
	--red: #DA3848;
	--almost-white: #F5F5F5;
	--silver: #F0F0F0;
}

html, body {
	position: relative;
	margin: 0;
	padding: 0;
	min-width: 350px;
	height: 100%;
	font-size: 19px;
	font-family: var(--sans-font), sans-serif;
	font-weight: 400;
	color: var(--dark-blue);
}

@media (max-width: 1000px) {
	body{ font-size: 16px; }
}

@media (max-width: 600px) {
	body{ font-size: 13px; }
}

img {
	display: block;
	width: 100%;
}

a, a:visited {
	color: var(--blue);
	text-decoration: underline;
}

a.big-link {
	font-size: 1.25em;
	font-weight: 600;
}

@media (hover: hover) {
	a:hover {
		color: var(--light-blue);
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5 {
	margin: 0 0 20px 0;
	font-family: var(--serif-font), serif;
	font-weight: 700;
}

p {
	margin: 0 0 20px 0;
}

em {
	font-family: var(--serif-font);
	font-weight: 700;
	font-style: normal;
}

small {
	font-size: 0.8em;
	color: var(--light-blue);
}

hr {
	display: block;
	height: 2px;
	margin: 20px 0;
	background-color: var(--light-blue);
	border: none;
}

.block {
	display: block;
}

.nowrap {
	white-space: nowrap;
}

.wrap {
	white-space: normal;
}

.invisible {
	visibility: hidden;
	pointer-events: none;
}

#view {
	position: relative;
	height: 100%;
}

.all-but-footer {
	min-height: 100vh;
}

.content-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 2em 4em 2em;
	/* opacity: 0;
	transform: scale(0.9);
	transition: transform 0.15s ease, opacity 0.25s ease; */
}

/* .content-container.in {
	transform: scale(1);
	opacity: 1;
} */

footer {
	background-color: var(--dark-blue);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

footer .content {
	max-width: 800px;
	margin: 0 auto;
	padding: 1.75em 2em;
	text-align: left;
	color: var(--silver);
}
