.list {
	margin: 20px 0;
	padding: 0;
}

.list-headers {
	display: flex;
	justify-content: space-between;
	margin-bottom: -1em;
	padding: 0 1em;
	color: var(--blue);
	opacity: 0.5;
}

.list-headers > * {
	margin-top: auto;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 1em;
	background-color: var(--almost-white);
	box-shadow: 0 0 1px var(--light-blue);
}

.list-item > * {
	width: auto;
}

.list-item .button {
	margin-left: 0.35em;
}

.list-item .button.compact {
	margin-left: 0.2em;
}

.list-item .button.ultra-compact {
	margin-left: 0.5em;
}

.list-item:nth-of-type(even) {
	background-color: var(--silver);
}

/* Darken even rows very slightly */
.list-item:nth-of-type(even):before {
	content: "";
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: #000;
	opacity: 0.05;
	pointer-events: none;
}

.list-item:hover:after {
	content: "";
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: var(--bright-blue);
	opacity: 0.07;
	pointer-events: none;
}
