table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 0 1px #efefef, 0 0 2em rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	overflow: hidden;
}

table tr {
	border-bottom: 1px solid #f3f3f3;
}

table tr:nth-of-type(odd) {
	background-color: var(--almost-white);
}

table tr:last-of-type {
	border: none;
}

table th {
	color: #fff;
	text-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.2);
	background: var(--blue);
	text-align: center;
	font-weight: normal;
	padding: 0.8em 0.5em;
}

table td {
	text-align: center;
	padding: 0.8em 0.5em;
}

tr th:first-of-type,
tr td:first-of-type {
	text-align: left;
}

tr th:last-of-type,
tr td:last-of-type {
	/* text-align: right; */
}
